<!DOCTYPE html>
<html>
<head>







</head>
<body>
    <center>
        <p id="demo1"></p>
        <p id="demo2"></p>
        <p id="demo3"></p>
    </center>

   <script>
   const westernfood={
   
    Cc: 14.50,
    Pc: 12.50,
    Salad: 13.80,

   };
   document.getElementById('demo1').innerHTML=westernfood.Cc;
   document.getElementById('demo2').innerHTML=westernfood.Pc;
   document.getElementById('demo3').innerHTML=westernfood.Salad;
    
    </script>
</body>
</html>